@page
@model Bank.Pages.Admin.Profiles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<!-- Start breadcrumbs area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Create Profile </h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumbs area -->
<hr />
<div class="row bg-color">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Profile.Balance" class="control-label"></label>
                <input asp-for="Profile.Balance" class="form-control" />
                <span asp-validation-for="Profile.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.AccountNo" class="control-label"></label>
                <input asp-for="Profile.AccountNo" class="form-control" />
                <span asp-validation-for="Profile.AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.CardNo" class="control-label"></label>
                <input asp-for="Profile.CardNo" class="form-control" />
                <span asp-validation-for="Profile.CardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.CVV" class="control-label"></label>
                <input asp-for="Profile.CVV" class="form-control" />
                <span asp-validation-for="Profile.CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.CardExpireDate" class="control-label"></label>
                <input asp-for="Profile.CardExpireDate" class="form-control" />
                <span asp-validation-for="Profile.CardExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.FirstName" class="control-label"></label>
                <input asp-for="Profile.FirstName" class="form-control" />
                <span asp-validation-for="Profile.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.LastName" class="control-label"></label>
                <input asp-for="Profile.LastName" class="form-control" />
                <span asp-validation-for="Profile.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profile.Email" class="control-label"></label>
                <input asp-for="Profile.Email" class="form-control" />
                <span asp-validation-for="Profile.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Profile.Status" class="control-label"></label>
                <input asp-for="Profile.Status" class="form-control" />
                <span asp-validation-for="Profile.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
