@page
@model Bank.Pages.Admin.Transactions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<!-- Start breadcrumbs area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Transaction </h3>
                        <h5>Edit</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcrumbs area -->
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transfer.Id" />
            <div class="form-group">
                <label asp-for="Transfer.AccountNo" class="control-label"></label>
                <input asp-for="Transfer.AccountNo" class="form-control" />
                <span asp-validation-for="Transfer.AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer.MAccountNo" class="control-label"></label>
                <input asp-for="Transfer.MAccountNo" class="form-control" />
                <span asp-validation-for="Transfer.MAccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer.Amount" class="control-label"></label>
                <input asp-for="Transfer.Amount" class="form-control" />
                <span asp-validation-for="Transfer.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer.TxnDate" class="control-label"></label>
                <input asp-for="Transfer.TxnDate" class="form-control" />
                <span asp-validation-for="Transfer.TxnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer.Type" class="control-label"></label>
                <input asp-for="Transfer.Type" class="form-control" />
                <span asp-validation-for="Transfer.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer.Description" class="control-label"></label>
                <input asp-for="Transfer.Description" class="form-control" />
                <span asp-validation-for="Transfer.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transfer.Bank" class="control-label"></label>
                <input asp-for="Transfer.Bank" class="form-control" />
                <span asp-validation-for="Transfer.Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
